.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vmin);
  color: rgb(0, 255, 221);
}

.app-paragraph{
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: rgb(255, 255, 255);
  border: 2px solid lightseagreen;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.button {
  padding: 20px;
  margin: 10px;
  border: 0px solid white;
  border-radius: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
  background-color: lightseagreen;
  color: white;
}
.button:disabled {
  background-color: lightblue;
}

.input-box {
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: lightblue;
  color: black;
}

.timer {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 100;
  font-size: 80px;
  color: white;
  padding: 50px;
}