.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vmin);
  color: rgb(0, 255, 221);
}

.app-paragraph{
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
  padding: 20px;
  margin: 10px;
  background-color: lightseagreen;
  color: purple;
}
.button:disabled {
  background-color: lightblue;
}

.timer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
  color: white;
}