.App {
  text-align: center;
  background-color: #282c34;
}


/* Styles for screens larger than 480px */
@media only screen and (min-width: 480px) {
  .App-header {
    font-size: 30px;
  }
  .app-paragraph {
    font-size: 20px;
  }
  .button {
    font-size: 70px;
  }
  .input-box {
    width: 200px;
    height: 50px;
    font-size: 34px;
  }
  .timer {
    font-size: 80px;
  }
}

/* Styles for screens smaller than or equal to 480px */
@media only screen and (max-width: 480px) {
  .App-header {
    font-size: 15px;
  }
  .app-paragraph {
    font-size: 15px;
  }
  .button {
    font-size: 30px;
  }
  .input-box {
    width: 80px;
    height: 20px;
    font-size: 18px;
  }
  .timer {
    font-size: 50px;
  }
}

/* Styles for screens smaller than or equal to 350px */
@media only screen and (max-width: 350px) {
  .App-header {
    font-size: 15px;
  }
  .app-paragraph {
    font-size: 15px;
  }
  .button {
    font-size: 20px;
  }
  .input-box {
    width: 60px;
    height: 15px;
    font-size: 14px;
  }
  .timer {
    font-size: 40px;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 255, 221);
}

.app-paragraph{
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border: 2px solid lightseagreen;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.button {
  padding: 20px;
  margin: 10px;
  border: 0px solid white;
  border-radius: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: oblique;
  background-color: lightseagreen;
  color: white;
}
.button:disabled {
  background-color:rgb(13, 82, 99);
}

.input-box {
  margin: 10px;
  padding: 5px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-style: oblique;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgb(13, 82, 99);
  color: white;
}

.timer {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 100;
  color: white;
  padding: 50px;
}